.color {
	width: 100px;
	height: 100px;
	background-color: black;
	margin: 10px;
	}
.color-info {
	font-size: 15px;
}
.main {
	position: absolute;
}
#colors {
	position: relative;
	width: 100%;
	height: 100%;
}
.myButton {
	background-color:#000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:16px 31px;
	text-decoration:none;
}
