.color {
	width: 80%;
	height: 80%;
	margin: 5%;
	}

.color-info {
	font-size: 90%;
}

.main {
	display: inline-block;
	width: 130px;
	height:130px;
}

#colors {
	width: 100%;
	height: 100%;
}

.myButton {
	background-color: #000;
	width: 200px;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 14px;
	padding: 16px 31px;
	text-decoration: none;
	margin-right:auto;
  margin-left:auto;
	margin-top: 10px;
	text-align: center;
}

#header {
	background-color: #8D97A8;
	width: 100%;
	height: 110px;
}

#input {
	width: 150px;
	text-align: center;
	margin-right:auto;
  margin-left:auto;
}
